<p *ngIf="!registers"><em>Loading...</em></p>

<h1>Todos os Registros</h1>
<p *ngIf="!registers"><em>Loading...</em></p>

<div>
  <input type="text" [(ngModel)]="Text">
  <p>{{Text}}</p>
</div>


<div class="row">
  <div class="col-sm-6" *ngIf="registerselected">
    <h3> Registro selecionado: {{registerselected.name}} </h3>
    <div class="row">
      <div class="mr-auto">

      </div>
      <div class="mt-1">
        <button class="btn btn-default" (click)= "comeback()"> Lista de registros

        </button>

      </div>
    </div>



    <form [formGroup]="registerForm" (submit)="registerSubmit()">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nome:</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Digite seu nome">
        <div  class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" formControlName="email" placeholder="Digite seu Email" aria-describedby="emailHelp">
        <div class="form-text">We'll never share your email with anyone else.</div>
      </div>

      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <hr>
      <button type="submit" class="btn btn-success" [disabled]="!registerForm.valid">Enviar/Submit</button>
    </form>

  </div>
  <div [ngClass]="{'col-sm-6': registerselected, 'col-sm-12': !registerselected }">
    <table class="table table-hover table-dark table-striped">
      <thead>
        <tr>

          <th scope="col">Nome:</th>
          <th scope="col">Email</th>
          <th scope="col">Telefone:</th>
          <th scope="col">Linkedin:</th>
          <th scope="col">LinkCRUD</th>
          <th scope="col">Cidade:</th>
          <th scope="col">Estado:</th>
          <th scope="col">Portifolio</th>
          <th scope="col">Prefe:Salario:</th>
          <th scope="col">Registrado em:</th>
          <th scope="col">willingnessWorkWeek:</th>
          <th scope="col">TimeWork</th>
          <th scope="col">knowledge:</th>
          <th scope="col">otherLanguageFramework:</th>
          <th scope="col">registerId</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let register of registers" >


          <td>{{register.name}}</td>
          <td>{{register.email}}</td>
          <td>{{register.phone}}</td>
          <td>{{register.linkedin}}</td>
          <td>{{register.linkCRUD}}</td>
          <td>{{register.city}}</td>
          <td>{{register.state}}</td>
          <td>{{register.portfolio}}</td>
          <td>{{register.salaryPrefer}}</td>
          <td>{{register.createDateTime}}</td>
          <td>{{register.willingnessWorkWeek}}</td>
          <td>{{register.timeWork}}</td>
          <td>{{register.knowledge}}</td>
          <td>{{register.otherLanguageFramework}}</td>
          <td>{{register.registerId}}</td>

          <td>
            <div class="btn-group">
              <button  (click)="selectedRegister(register)" class="btn btn-sm btn-outline-primary">Detalhes</button>
              <button (click)="selectedRegister(register)" class="btn btn-sm btn-outline-primary">Editar</button>
              <button class="btn btn-sm btn-outline-primary">Excluir</button>


          </div>
        </td>
        </tr>


      </tbody>

    </table>
  </div>

</div>
